body {
  font-size: 15px;
  color: #767676;
  font-family: 'Ubuntu', sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
   line-height: 1.7em;
}


hr {
  width: 40px;
  margin-left: 0;
  border-top: 1px solid #888383;
}

.container {
  padding-right: 0px;
}

h3, h4 {
  color: black;
  letter-spacing: 3px;
  text-transform: uppercase;
}


/* NAVBAR*/
#logo-img {
  background: url('../images/logo.png') no-repeat;
  width: 150px;
  height: 40px;
  margin: 10px 15px 10px 0;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus{
  color: black;
  background-color: transparent;
}

.nav-pills>li>a:hover, .nav-pills>li.active>a:hover {
    color: black;
    background-color: #53EEC9;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* JUMBOTRON */
.jumbotron {
  min-width: auto;
  min-height: 400px;
  background: url('../images/header.jpg') no-repeat;
  background-size: 100%;
}

.container .jumbotron, .container-fluid .jumbotron {
  border-radius: 0;
}

.jumbotron h1 {
  font-family: 'Raleway', sans-serif;
  color: black;
  font-weight: bold;
  font-size: 2.2em;
  margin-top: 130px;
}

.jumbotron h1 span {
  font-weight: lighter;
  letter-spacing: 7px;
  padding: 8px;
  margin-left: 15px;
}

span.highlight {
    background-color: #53EEC9;
}

.jumbotron h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6em;
  margin-top: 30px;
}

 div.vertical-line{
  width: 1px;
  background-color: #767676;
  height: 1.5em;
  display:inline-block;
  margin-left: 10px;
    }

/*History*/
.history {
  padding-top: 70px;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 70px;
}

.history p {
  padding-top: 25px;
  margin-right: 70px;
}

.history .text-uppercase {
  font-size: 1.1em;
  line-height: 1.5em;
}

.history img {
  min-width: 100%;
  padding-left: 15px;
}

/*END of History/

/*Why Choose us*/
.why {
  padding: 0px;
}

#branding {
  padding-left: 0px;
}

#branding, #plan, #illustration {
  margin-top: 80px;
  margin-bottom: 80px;
}
/*END of Why Choose us*/

/*Our work and 2nd navbar*/
.work {
  margin-top: 80px;
}

#secondnav {
  padding-left: 0px;
}

.nav-pills>li.active>a:hover {
  color: #53EEC9;
  background-color: transparent;
}

/*ENF of Our work and 2nd navbar*/

/*Photo Tiles*/
#tiles {
  padding-left: 0px;
}

#tiles img {
  max-width: 100%;
  display:block;
  height: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.tiles__item {
  padding-left: 0px;
}
.tiles__item:nth-child(3n+1) {
  clear: both;
}
/*
#tiles img:hover {
  opacity: 0.5;
  border: 2px solid black;
  box-sizing: border-box;
}*/

.center {
  position: absolute;
/*  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #53EEC9;*/
  width: calc(100% - 17px);
  height: calc(100% - 20px * 2);
  top: 20px;
}
.center:hover {
  background: #53EEC9;
  opacity: 0.5;
  border: 2px solid black;
}

/*ENF of Photo Tiles*/

#refresh {
  margin: 30px;
  font-size: 40px;
  text-align: center;
}

/*Stay Informed*/

#informed-left {
  margin-top: 50px;
  min-height: 300px;
  background-color: #53EEC9;
  text-transform: uppercase;
  color: black;
  font-family: 'Raleway', sans-serif;

}

#informed-left h2 {
  margin-top: 20%;
  margin-bottom: auto;
  margin-left: 10%;
  line-height: 1.4;
  font-weight: 200;
}

#informed-left strong {
  font-weight: 900;
}

#informed-right {
  margin-top: 50px;
  min-height: 300px;
  text-transform: uppercase;
  background: url('../images/clock.jpg') no-repeat;
  background-size: cover;
}

.newsletter-form {
  background-color: white;
  padding: 10% 50px;
  width: 80%;
  margin: 50px auto 0;
  text-align: center;
}
  .newsletter-form__group {
    width: 100%;
  }
  .newsletter-form__input.newsletter-form__input {
    width: 100%;
  }

.form-group {
  margin-top: 10%;
}

#informed-right button {
  background-color: #53EEC9;
  text-transform: uppercase;
  color: white;
  box-shadow: none;
  border-radius: 0;
  margin-top: 15px;
}

/*END of Stay Informed*/

/*Footer*/

.container-fluid{
  padding: 0;
  background: #F4F4F4;
  margin-top: 100px;
}

#footer {
  height: 300px;
}

#footer div {
  margin-top: 5%;
  letter-spacing: 3px;
}

#footer .social {
  text-align: center;
}

#footer h4 {
  color: black;
  font-weight: bold;
}

#footer #contact {
  text-align: left;
  position: absolute;
  right: 0;
  width: auto;
}

#copyright {
  margin-top: 40px;
}

.social a {
  color: black;
  letter-spacing: 13px;
}

.social a:hover, #contact a:hover {
  color: #53EEC9;
}
/*END of Footer*/


/* MEDIA QUERIES
--------------------*/
@media (max-width: 767px) {
  /* this is here just for testing */
  body {
    color: blue;
  }

.container {
  max-width: 720px;
}

.jumbotron h1 {
  float: none;
  margin-top: 20%;
  font-size: 200%;
}

.jumbotron h2 {
  font-size: 150%;
  margin-top: 5%;
}

.history {
  padding-top: 0px;
}

#plan, #illustration {
  padding-left: 0px;
}

#tiles img {
  margin-left: auto;
  margin-right: auto;
}

#informed-left h2 {
  margin-top: auto;
  padding-top: 20%;
}
#informed-right {
  margin-top: 0;
  overflow: hidden;
}
.newsletter-form {
  margin-top: 18px;
}
#footer {
  height: auto;
  text-align: center;
}
#footer #contact {
  position: static;
  text-align: center;
}
}
@media (max-width: 420px) {

  body {
    color: red;
  }

  .jumbotron h1 {
    float: none;
    margin-top: 20%;
    font-size: 110%;
  }

  .jumbotron h2 {
  font-size: 90%;
  margin-top: 5%;
}

#informed-left h2 {
  padding-top: 30%;
}
}
