body {
  font-size: 12px;
  color: #767676;
  font-family: 'Ubuntu', sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

hr {
  width: 30px;
  margin-left: 0;
}

/* NAVBAR*/
#logo-img {
  background: url('../images/logo.png') no-repeat;
  width: 150px;
  height: 40px;
  margin: 10px 15px 10px 0;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: black;
  background-color: transparent;
}

/* Everything but the jumbotron gets side spacing for mobile first views
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
} */

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px;
}

/* JUMBOTRON */
.jumbotron {
  min-width: auto;
  min-height: 400px;
  background: url('../images/header.jpg') no-repeat;
  background-size: 100%;
}

.container .jumbotron, .container-fluid .jumbotron {
  border-radius: 0;
}

.jumbotron h1 {
  font-family: 'Raleway', sans-serif;
  color: black;
  font-weight: bold;
  font-size: 2.2em;
  margin-top: 130px;
}

.jumbotron h1 span {
  font-weight: lighter;
  letter-spacing: 7px;
  padding: 8px;
  margin-left: 15px;
}

span.highlight {
    background-color: #53EEC9;
}

.jumbotron h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6em;
  margin-top: 30px;
}

 div.vertical-line{
  width: 1px;
  background-color: #767676;
  height: 1.5em;
  display:inline-block;
  margin-left: 10px;
    }


/* MEDIA QUERIES
--------------------*/
@media (max-width: 768px) {
  /* this is here just for testing */
  body {
    color: blue;
  }

  .container {
    max-width: 720px;
  }

  .jumbotron h1 {
    float: none;
    margin-top: 20%;
    font-size: 200%;
  }

  .jumbotron h2 {
  font-size: 150%;
  margin-top: 5%;
}

@media (max-width: 420px) {

  body {
    color: red;
  }

  .jumbotron h1 {
    float: none;
    margin-top: 20%;
    font-size: 110%;
  }

  .jumbotron h2 {
  font-size: 90%;
  margin-top: 5%;
}


